<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CrossPromo System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/styles/43364958.main.css">
        <script src="/scripts/vendor/f7f27360.modernizr.js"></script>
        <% include ../templates/header.ejs %>
        <% include ../templates/img_load_component.ejs %>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
             <!-- added the navigation menu -->
             <% include ../templates/nav.ejs %>
              <div class="content row big_form_width" >
                <div class="big_form_layout">
                    <% include form.ejs %>
                </div>
            </div>
        </div>
        <% include ../templates/footer.ejs %>
        <script>
        $(function(){
            $('.ioas').click(function(e) {
                if ($('.ioas').prop('checked')) {
                    $('.linkArea').hide();
                    $('.asl').show();
                } else {
                    $('.linkArea').show();
                    $('.asl').hide();
                    $('.asl').find('input').val('');
                }
            });
            

            CrossPromoUtils.showOriginalImage();
            CrossPromoUtils.scaleOriginalImage('imageFile');

            var mfApplication = new MorefunApp();
            mfApplication.set("active", false);
            //status should be Preview or Online
            mfApplication.set('isOnline',false);
            $('#submit').click(MoreFunAppUtils.saveMoreFunAppHandler(mfApplication));
         });
        </script>
</body>
</html>