<form action="" method="post" role="form">
    <div class="form-group">
        <label for="company-name">Company Name</label>
        <div>
        <input type="input" class="form-control inline" name="companyName" id="company-name" placeholder="Enter company name"><font class="red_inline"> * </font>
        </div>
    </div>                        
    <input type="hidden" id="isOwn" value='<%=isOwn%>'>                               
    <button id="submit" type="submit" class="btn btn-primary">Save</button>
</form>