<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CrossPromo System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/styles/43364958.main.css">
        <script src="/scripts/vendor/f7f27360.modernizr.js"></script>
        <% include ../templates/header.ejs %> 
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
             <!-- added the navigation menu -->
             <% include ../templates/nav.ejs %>
            <div class="content row">
                <div class="common_form_layout">
                    <% include form_edit.ejs %>
                </div>
            </div>
        </div>
        <% include ../templates/footer.ejs %>
        <script>
        //set the companyID
        $(function(){
            <% if(application.get('newContentType') == "text"|| application.get('newContentType')==''){ %>
                CrossPromoUtils.showTextArea();
            <% }else{%>
                CrossPromoUtils.showMediaArea();
            <%}%>


            CrossPromoUtils.addSelectAllListener('#select-all-mfa','.mfCheck');
            CrossPromoUtils.addTextMediaSwitchListener('.mediaClass');

            var i=CrossPromoUtils.changeOddBgColor('.active_bak_color');
            var j=CrossPromoUtils.changeOddBgColor('.inactive_bak_color');
            CrossPromoUtils.autoVerticalLineHeight(i,j);

            $('#newContentPageLink').click(function(e){
                e.preventDefault();
                window.location = "/applications_attachment/"+companyid+"/<%=application.id%>";
            });



             
            var query = new Parse.Query(Application);
            query.get("<%= application.id %>", {
                success: function(application){
                   //if(application.get('iap') == 'false') $('.media').hide();
                   //there should be a id in this url, this id will be completed in function addActiveClickListener.
                   $('#activate').click(function(e){
                            e.preventDefault();
                            application.set('active', !application.get('active'));
                            application.save(null, {
                                success: function(o) {
                                    if(o.get('active')){
                                        alert("Application Activated.");
                                    }
                                    else {
                                        alert("Application Deactivated.");
                                    }
                                    window.location = "/applications_cmpy/"+companyid;
                                },
                                error: function(o, error) {
                                    console.log(error);
                                }
                            });
                        });
                    $('#submit').click(CrossPromoUtils.saveApplicationHandler(application));
                },
                error: function(obj,error){
                    console.log(error);
                    window.location = "/";
                }
            });
                 
       });
 

        </script>
</body>
</html>